<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
  <main class="form-signin w-100 m-auto">
    <form style="padding-left: 38%; padding-right: 38%; padding-top: 5%;" method="post" action="/user/signup">
        <h1 class="h3 mb-3 fw-normal">Create New Account</h1>

        <div class="form-floating my-3">
            <input required type="text" name="enrollmentNumber" class="form-control" id="enrollmentNumber" placeholder="Enrollment Number">
            <label for="enrollmentNumber">Enrollment Number</label>
        </div>

        <div class="form-floating my-3">
            <input required type="text" name="username" class="form-control" id="username" placeholder="Username">
            <label for="username">Username</label>
            <label class="error username"></label>
        </div>

        <div class="form-floating my-3">
            <input required type="email" name="email" class="form-control" id="email" placeholder="name@example.com">
            <label for="email">Email address</label>
            <label class="error email"></label>
        </div>

        <div class="form-floating my-3">
            <input required type="password" name="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
            <label class="error password"></label>
        </div>

        <div class="form-floating my-3">
            <textarea required class="form-control" name="biography" id="biography" placeholder="Bio..."></textarea>
            <label for="biography">Bio</label>
        </div>

        <div class="form-floating my-3">
            <input required type="text" name="fullName" class="form-control" id="fullName" placeholder="Full Name">
            <label for="fullName">Full Name</label>
        </div>

        <div class="form-floating my-3">
            <input type="text" name="contact_no" class="form-control" id="contact_no" placeholder="Contact Number">
            <label for="contact_no">Contact No.</label>
        </div>

        <div class="form-floating my-3">
            <input type="text" name="skills" class="form-control" id="skills" placeholder="Skill 1, Skill 2, Skill 3">
            <label for="skills">Skills (comma-separated)</label>
        </div>

        <div class="form-floating my-3">
            <input type="url" name="portfolio" class="form-control" id="portfolio" placeholder="Portfolio URL">
            <label for="portfolio">Portfolio URL</label>
        </div>

        <div class="form-floating my-3">
            <input type="url" name="linkedin" class="form-control" id="linkedin" placeholder="LinkedIn URL">
            <label for="linkedin">LinkedIn Profile</label>
        </div>

        <div class="form-floating my-3">
            <input type="url" name="github" class="form-control" id="github" placeholder="GitHub URL">
            <label for="github">GitHub Profile</label>
        </div>

        <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>

        <button class="btn btn-warning w-100 mt-3 my-5" onclick="window.history.back()">Back</button>
    </form>
  </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    

    <script>
        const form = document.querySelector("form");
        const emailError = document.querySelector(".error.email");
        const usernameError = document.querySelector(".error.username");
        const passwordError = document.querySelector(".error.password");

        console.log("First Hello world");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            usernameError.textContent = '';
            emailError.textContent = '';
            passwordError.textContent = '';
            console.log("second Hello world");
            
            const enrollmentNumber = form.enrollmentNumber.value;
            const username = form.username.value;
            const email = form.email.value;
            const password = form.password.value;
            const biography = form.biography.value;
            const fullName = form.fullName.value;
            const contactNo = form.contact_no.value;
            const skills = form.skills.value;
            const portfolio = form.portfolio.value;
            const linkedin = form.linkedin.value;
            const github = form.github.value;

            try {
                const res = await fetch('/user/signup', {
                    method: 'POST',
                    body: JSON.stringify({ 
                        enrollmentNumber: enrollmentNumber, 
                        username: username, 
                        email: email, 
                        password: password, 
                        biography: biography, 
                        fullName: fullName, 
                        contact_no: contactNo, 
                        skills: skills, 
                        portfolio: portfolio, 
                        linkedin: linkedin, 
                        github: github,
                     }),
                    headers: { 'Content-Type': 'application/json' }
                });
                
                const data = await res.json();
                console.log(data);

                if (data.error) {
                    emailError.textContent = data.error.email;
                    usernameError.textContent = data.error.username;
                    passwordError.textContent = data.error.password;
                }
                if(data.user) {
                    location.assign("/");
                }

            } catch (err) {
                console.log(err);
            }
        });

    </script>
    
    </body>
</html>